In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('DutchHousePrices.csv')

In [3]:
df.head()

,Address,City,Price,Lot size (m2),Living space size (m2),Build year,Build type,House type,Roof,Rooms,Toilet,Floors,Energy label,Position,Garden,Estimated neighbourhood price per m2
0,Bovenweg 223,Sint Pancras,€ 525.000,251 m²,135 m²,1972,Bestaande bouw,"Eengezinswoning, 2-onder-1-kapwoning",Zadeldak bedekt met pannen,5 kamers (4 slaapkamers),1 badkamer en 1 apart toilet,3 woonlagen,D,NaN,"Achtertuin, voortuin en zijtuin",6.035
1,Julianastraat 19,Waddinxveen,€ 425.000,181 m²,109 m²,1935,Bestaande bouw,"Herenhuis, geschakelde 2-onder-1-kapwoning",Schilddak bedekt met bitumineuze dakbedekking ...,4 kamers (3 slaapkamers),1 badkamer en 1 apart toilet,3 woonlagen,E,Aan rustige weg en in woonwijk,Achtertuin en voortuin,1.435
2,Kuipersgilde 3,Houten,€ 575.000,198 m²,138 m²,1986,Bestaande bouw,"Eengezinswoning, 2-onder-1-kapwoning",Zadeldak bedekt met pannen,5 kamers (4 slaapkamers),1 badkamer en 1 apart toilet,3 woonlagen,B,Aan rustige weg en in woonwijk,Achtertuin,1.855
3,De Kamp 1 A,Pannerden,€ 259.500,231 m²,92 m²,1989,Bestaande bouw,"Eengezinswoning, 2-onder-1-kapwoning",Zadeldak bedekt met pannen,5 kamers (3 slaapkamers),1 badkamer en 2 aparte toiletten,3 woonlagen,B,Aan rustige weg en in woonwijk,"Achtertuin, voortuin en zijtuin",2.19
4,Wildrijklaan 8,Sassenheim,€ 1.050.000,423 m²,210 m²,2000,Bestaande bouw,"Eengezinswoning, 2-onder-1-kapwoning",Schilddak bedekt met pannen,6 kamers (5 slaapkamers),2 badkamers en 2 aparte toiletten,4 woonlagen en een kelder,A,"Aan rustige weg, aan water, beschutte ligging,...","Achtertuin, voortuin en zijtuin",1.34

In [4]:
newdf = df.copy()
newdf.columns

Index(['Address', 'City', 'Price', 'Lot size (m2)', 'Living space size (m2)',
       'Build year', 'Build type', 'House type', 'Roof', 'Rooms', 'Toilet',
       'Floors', 'Energy label', 'Position', 'Garden',
       'Estimated neighbourhood price per m2'],
      dtype='object')

In [5]:
newdf.rename(columns = {'Lot size (m2)':'LotSize','Living space size (m2)':'LivingSpace','Estimated neighbourhood price per m2':'EstStreetPrice'}, inplace = True)
newdf.columns

Index(['Address', 'City', 'Price', 'LotSize', 'LivingSpace', 'Build year',
       'Build type', 'House type', 'Roof', 'Rooms', 'Toilet', 'Floors',
       'Energy label', 'Position', 'Garden', 'EstStreetPrice'],
      dtype='object')

In [13]:
newdf['Basement']=0
FloorValues = newdf['Floors'].unique()
FloorValues

array(['3 woonlagen', '4 woonlagen en een kelder',
       '2 woonlagen en een vliering', '2 woonlagen',
       '2 woonlagen en een zolder', '3 woonlagen en een vliering',
       '3 woonlagen en een kelder', '2 woonlagen en een kelder',
       '1 woonlaag', '4 woonlagen', '1 woonlaag en een zolder',
       '2 woonlagen, een zolder en een kelder',
       '3 woonlagen en een zolder',
       '3 woonlagen, een zolder en een kelder',
       '2 woonlagen, een vliering en een kelder',
       '2 woonlagen en een zolder met vliering',
       '1 woonlaag en een kelder',
       '1 woonlaag, een vliering en een kelder',
       '2 woonlagen, een zolder met vliering en een kelder',
       '3 woonlagen, een vliering en een kelder', '5 woonlagen',
       '5 woonlagen en een kelder',
       '4 woonlagen, een zolder en een kelder',
       '1 woonlaag, een zolder en een kelder',
       '4 woonlagen en een zolder', '4 woonlagen en een vliering',
       '4 woonlagen, een vliering en een kelder',
       '1 woonlaag en een vliering',
       '1 woonlaag en een zolder met vliering', '6 woonlagen',
       '5 woonlagen, een vliering en een kelder'], dtype=object)

In [15]:
#df = pd.DataFrame({'a': ['1 hello', '2 hello', '2 World', '4 World']})

unique_values_Floors = newdf['Floors'].unique()
all_words_Floors = []

for value in unique_values_Floors:
    words = value.split(' ')
    for word in words:
        all_words_Floors.append(word)

unique_words_Floors = list(set(all_words_Floors))

print(unique_words_Floors)

['5', 'vliering', 'woonlagen', 'woonlaag,', 'zolder', '4', 'een', '1', 'met', 'kelder', 'en', '6', 'woonlagen,', '3', 'woonlaag', '2']

vliering: loft<br>
woonlaag/woonlagen: floor/floors<br>
zolder: attic<br>
kelder: basement<br>

In [ ]:
#newdf['Price'] = newdf['Price'].str.extract("([-+]?\d*\.\d+|[-+]?\d+)")