In [24]:
import pandas as pd
import numpy as np

In [25]:
df = pd.read_csv('DutchHousePrices.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5555 entries, 0 to 5554
Data columns (total 16 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Address                               5555 non-null   object
 1   City                                  5555 non-null   object
 2   Price                                 5555 non-null   object
 3   Lot size (m2)                         5555 non-null   object
 4   Living space size (m2)                5555 non-null   object
 5   Build year                            5471 non-null   object
 6   Build type                            5555 non-null   object
 7   House type                            5555 non-null   object
 8   Roof                                  5555 non-null   object
 9   Rooms                                 5555 non-null   object
 10  Toilet                                5555 non-null   object
 11  Floors                                5555 non-null   object
 12  Energy label                          5555 non-null   object
 13  Position                              5251 non-null   object
 14  Garden                                5497 non-null   object
 15  Estimated neighbourhood price per m2  5386 non-null   object
dtypes: object(16)
memory usage: 694.5+ KB

In [26]:
df.head()

,Address,City,Price,Lot size (m2),Living space size (m2),Build year,Build type,House type,Roof,Rooms,Toilet,Floors,Energy label,Position,Garden,Estimated neighbourhood price per m2
0,Bovenweg 223,Sint Pancras,€ 525.000,251 m²,135 m²,1972,Bestaande bouw,"Eengezinswoning, 2-onder-1-kapwoning",Zadeldak bedekt met pannen,5 kamers (4 slaapkamers),1 badkamer en 1 apart toilet,3 woonlagen,D,NaN,"Achtertuin, voortuin en zijtuin",6.035
1,Julianastraat 19,Waddinxveen,€ 425.000,181 m²,109 m²,1935,Bestaande bouw,"Herenhuis, geschakelde 2-onder-1-kapwoning",Schilddak bedekt met bitumineuze dakbedekking ...,4 kamers (3 slaapkamers),1 badkamer en 1 apart toilet,3 woonlagen,E,Aan rustige weg en in woonwijk,Achtertuin en voortuin,1.435
2,Kuipersgilde 3,Houten,€ 575.000,198 m²,138 m²,1986,Bestaande bouw,"Eengezinswoning, 2-onder-1-kapwoning",Zadeldak bedekt met pannen,5 kamers (4 slaapkamers),1 badkamer en 1 apart toilet,3 woonlagen,B,Aan rustige weg en in woonwijk,Achtertuin,1.855
3,De Kamp 1 A,Pannerden,€ 259.500,231 m²,92 m²,1989,Bestaande bouw,"Eengezinswoning, 2-onder-1-kapwoning",Zadeldak bedekt met pannen,5 kamers (3 slaapkamers),1 badkamer en 2 aparte toiletten,3 woonlagen,B,Aan rustige weg en in woonwijk,"Achtertuin, voortuin en zijtuin",2.19
4,Wildrijklaan 8,Sassenheim,€ 1.050.000,423 m²,210 m²,2000,Bestaande bouw,"Eengezinswoning, 2-onder-1-kapwoning",Schilddak bedekt met pannen,6 kamers (5 slaapkamers),2 badkamers en 2 aparte toiletten,4 woonlagen en een kelder,A,"Aan rustige weg, aan water, beschutte ligging,...","Achtertuin, voortuin en zijtuin",1.34

In [27]:
newdf = df.copy()
newdf.columns

Index(['Address', 'City', 'Price', 'Lot size (m2)', 'Living space size (m2)',
       'Build year', 'Build type', 'House type', 'Roof', 'Rooms', 'Toilet',
       'Floors', 'Energy label', 'Position', 'Garden',
       'Estimated neighbourhood price per m2'],
      dtype='object')

In [28]:
newdf.rename(columns = {'Lot size (m2)':'LotSize','Living space size (m2)':'LivingSpace','Estimated neighbourhood price per m2':'EstStreetPrice'}, inplace = True)
newdf.columns

Index(['Address', 'City', 'Price', 'LotSize', 'LivingSpace', 'Build year',
       'Build type', 'House type', 'Roof', 'Rooms', 'Toilet', 'Floors',
       'Energy label', 'Position', 'Garden', 'EstStreetPrice'],
      dtype='object')

Outputting the unique values

In [29]:
unique_values_Floors = newdf['Floors'].unique()
all_words_Floors = []

for value in unique_values_Floors:
    words = value.split(' ')
    for word in words:
        all_words_Floors.append(word)

unique_words_Floors = list(set(all_words_Floors))

print(unique_words_Floors)

['3', '5', 'vliering', '4', 'woonlaag', '1', 'met', '6', 'en', '2', 'een', 'zolder', 'woonlagen', 'woonlaag,', 'kelder', 'woonlagen,']

vliering: loft<br>
woonlaag/woonlagen: floor/floors<br>
zolder: attic<br>
kelder: basement<br>

Assiging new values to columns to check if they help tweek better the model

In [30]:
newdf = newdf.assign(Loft=0, Attic=0, Basement=0)
newdf.head()

,Address,City,Price,LotSize,LivingSpace,Build year,Build type,House type,Roof,Rooms,Toilet,Floors,Energy label,Position,Garden,EstStreetPrice,Loft,Attic,Basement
0,Bovenweg 223,Sint Pancras,€ 525.000,251 m²,135 m²,1972,Bestaande bouw,"Eengezinswoning, 2-onder-1-kapwoning",Zadeldak bedekt met pannen,5 kamers (4 slaapkamers),1 badkamer en 1 apart toilet,3 woonlagen,D,NaN,"Achtertuin, voortuin en zijtuin",6.035,0,0,0
1,Julianastraat 19,Waddinxveen,€ 425.000,181 m²,109 m²,1935,Bestaande bouw,"Herenhuis, geschakelde 2-onder-1-kapwoning",Schilddak bedekt met bitumineuze dakbedekking ...,4 kamers (3 slaapkamers),1 badkamer en 1 apart toilet,3 woonlagen,E,Aan rustige weg en in woonwijk,Achtertuin en voortuin,1.435,0,0,0
2,Kuipersgilde 3,Houten,€ 575.000,198 m²,138 m²,1986,Bestaande bouw,"Eengezinswoning, 2-onder-1-kapwoning",Zadeldak bedekt met pannen,5 kamers (4 slaapkamers),1 badkamer en 1 apart toilet,3 woonlagen,B,Aan rustige weg en in woonwijk,Achtertuin,1.855,0,0,0
3,De Kamp 1 A,Pannerden,€ 259.500,231 m²,92 m²,1989,Bestaande bouw,"Eengezinswoning, 2-onder-1-kapwoning",Zadeldak bedekt met pannen,5 kamers (3 slaapkamers),1 badkamer en 2 aparte toiletten,3 woonlagen,B,Aan rustige weg en in woonwijk,"Achtertuin, voortuin en zijtuin",2.19,0,0,0
4,Wildrijklaan 8,Sassenheim,€ 1.050.000,423 m²,210 m²,2000,Bestaande bouw,"Eengezinswoning, 2-onder-1-kapwoning",Schilddak bedekt met pannen,6 kamers (5 slaapkamers),2 badkamers en 2 aparte toiletten,4 woonlagen en een kelder,A,"Aan rustige weg, aan water, beschutte ligging,...","Achtertuin, voortuin en zijtuin",1.34,0,0,0

In [31]:
print(newdf['Build type'].unique())

['Bestaande bouw' 'Nieuwbouw']

Bestaande bouw: Existing building <br>
Nieuwbouw: New construction

Replacing nominal values by numerical ones

In [32]:
newdf['Build type'] = newdf['Build type'].replace({'Bestaande bouw': 0, 'Nieuwbouw': 1})
newdf.dtypes

Address           object
City              object
Price             object
LotSize           object
LivingSpace       object
Build year        object
Build type         int64
House type        object
Roof              object
Rooms             object
Toilet            object
Floors            object
Energy label      object
Position          object
Garden            object
EstStreetPrice    object
Loft               int64
Attic              int64
Basement           int64
dtype: object

In [33]:
print(df.isna().sum())

Address                                   0
City                                      0
Price                                     0
Lot size (m2)                             0
Living space size (m2)                    0
Build year                               84
Build type                                0
House type                                0
Roof                                      0
Rooms                                     0
Toilet                                    0
Floors                                    0
Energy label                              0
Position                                304
Garden                                   58
Estimated neighbourhood price per m2    169
dtype: int64

Replacing the nan, before and after by empty in "Build Year" Column and casting the values to float to get the mean.

In [34]:
newdf['Build year'] = newdf['Build year'].str.replace(r'[^\d]', '', regex=True)
newdf['Build year'] = newdf['Build year'].astype(float)

Replacing empty values with the mean and then casting it back to integer.

In [35]:
newdf['Build year'] = newdf['Build year'].fillna(newdf['Build year'].mean())
newdf['Build year'] = newdf['Build year'].astype('int64')

In [36]:
newdf.dtypes

Address           object
City              object
Price             object
LotSize           object
LivingSpace       object
Build year         int64
Build type         int64
House type        object
Roof              object
Rooms             object
Toilet            object
Floors            object
Energy label      object
Position          object
Garden            object
EstStreetPrice    object
Loft               int64
Attic              int64
Basement           int64
dtype: object

In [37]:
BuildYears = newdf['Build year'].unique()
BuildYears.sort()
BuildYears

array([1500, 1590, 1600, 1610, 1625, 1630, 1642, 1643, 1650, 1654, 1680,
       1683, 1692, 1700, 1701, 1706, 1716, 1722, 1729, 1737, 1740, 1750,
       1751, 1776, 1787, 1790, 1792, 1793, 1795, 1800, 1803, 1813, 1817,
       1825, 1830, 1835, 1840, 1845, 1850, 1854, 1859, 1860, 1861, 1864,
       1866, 1869, 1870, 1871, 1872, 1874, 1875, 1876, 1877, 1878, 1880,
       1881, 1882, 1883, 1884, 1885, 1886, 1887, 1888, 1889, 1890, 1891,
       1892, 1893, 1895, 1896, 1897, 1898, 1899, 1900, 1901, 1902, 1903,
       1904, 1905, 1906, 1907, 1908, 1909, 1910, 1911, 1912, 1913, 1914,
       1915, 1916, 1917, 1918, 1919, 1920, 1921, 1922, 1923, 1924, 1925,
       1926, 1927, 1928, 1929, 1930, 1931, 1932, 1933, 1934, 1935, 1936,
       1937, 1938, 1939, 1940, 1941, 1942, 1943, 1944, 1945, 1946, 1947,
       1948, 1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958,
       1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969,
       1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980,
       1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991,
       1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002,
       2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013,
       2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022], dtype=int64)

In [38]:
unique_Prices = newdf['Price'].unique()

Removing the text that says prices available upon request from.

In [39]:
newdf['Price'] = newdf['Price'].str.replace(r'[^\d]', '', regex=True)
newdf['Price'].replace('', np.nan, inplace=True)

Dropping the empty values. Ended up with 5547 rows.

In [40]:
newdf.dropna(subset=['Price'], inplace=True)
newdf['Price']=newdf['Price'].astype('Int64')
newdf['Price'].count()

5547

In [41]:
newdf.dtypes

Address           object
City              object
Price              Int64
LotSize           object
LivingSpace       object
Build year         int64
Build type         int64
House type        object
Roof              object
Rooms             object
Toilet            object
Floors            object
Energy label      object
Position          object
Garden            object
EstStreetPrice    object
Loft               int64
Attic              int64
Basement           int64
dtype: object

Changing type of LotSize and LivingSpace

In [42]:
newdf[['LotSize','LivingSpace']] = newdf[['LotSize','LivingSpace']].apply(lambda x: x.str.replace(r'[^\d]', '', regex=True))
newdf['LotSize']=newdf['LotSize'].astype('Int64')
newdf['LivingSpace']=newdf['LivingSpace'].astype('Int64')

In [43]:
newdf.dtypes

Address           object
City              object
Price              Int64
LotSize            Int64
LivingSpace        Int64
Build year         int64
Build type         int64
House type        object
Roof              object
Rooms             object
Toilet            object
Floors            object
Energy label      object
Position          object
Garden            object
EstStreetPrice    object
Loft               int64
Attic              int64
Basement           int64
dtype: object

Removing Text from Estimate Street Price:

In [44]:
newdf['EstStreetPrice'] = newdf['EstStreetPrice'].str.replace(r'[^\d]', '', regex=True)
newdf['EstStreetPrice'] = newdf['EstStreetPrice'].astype(float)

Filling Empty Values with mean in Estimate Street Price:

In [45]:
newdf['EstStreetPrice'] = newdf['EstStreetPrice'].fillna(newdf['EstStreetPrice'].mean())
newdf['EstStreetPrice'] = newdf['EstStreetPrice'].astype('int64')

In [46]:
newdf.dtypes

Address           object
City              object
Price              Int64
LotSize            Int64
LivingSpace        Int64
Build year         int64
Build type         int64
House type        object
Roof              object
Rooms             object
Toilet            object
Floors            object
Energy label      object
Position          object
Garden            object
EstStreetPrice     int64
Loft               int64
Attic              int64
Basement           int64
dtype: object

Since address does not have an impact on price since every value is unique or mostly unique, we will dis